<div class="flex justify-left">
    <footer class="pt-8 text-xs font-mono text-gray-600">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author_name }}. All rights reserved. · <a href="https://liagason.com/feed.xml" class="text-xs text-blue-700 underline underline-offset-2 decoration-1 decoration-dashed decoration-blue-700">RSS Feed</a> · <a href="https://mastodon.social/@liagason">Mastodon</a> · <a href="https://bsky.app/profile/liagason.com">Bluesky</a> · <a href="https://github.com/liagason">Github</a> · <a href="https://elemedu.com/sotiris">Elemedu</a></footer>
</div>
