{% assign link = '/' %}


<h1><a href="{{ link | prepend: site.baseurl | prepend: site.url }}" class="font-semibold font-mono tracking-wide antialiased text-xl text-gray-800 pb-8">Sotiris Liagkas</a></h1>
<p class="pb-2 text-gray-800">Hey there! 👋 I’m Sotiris Liagkas. This is my first attempt to a minimal tailwindcss theme for Github Pages.</p>
<p class="text-gray-800">I'm also on <a href="https://twitter.com/liagason" class="text-blue-700 underline underline-offset-2 decoration-1 decoration-dashed decoration-blue-700">Twitter</a> and <a href="https://github.com/liagason" class="text-blue-700 underline underline-offset-2 decoration-1 decoration-dashed decoration-blue-700">Github</a>.</p>
