---
published: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>
  <section class="flex flex-wrap max-w-2xl mx-auto px-8 py-16 selection:bg-blue-200">
    <div class="flex flex-col">
      

      {% if page.collection == "posts" or page.collection == "pages" %}
      
      <article>
        {{ content }}
      </article>

      {% else %}
      {% include header.html %}
      {{ content }}
      {% endif %}

      {% include footer.html %}
    </div>
  </section>
</body>

</html>